## METAR/Meteorological Data
### Data source - [Iowa State University](https://mesonet.agron.iastate.edu/request/download.phtml?network=TX_ASOS)
Data collected from Texas ASOS for stations: DFW (DALLAS), AUS (AUSTIN), IAH (HOUSTON), and CLL (COLLEGE STATION).

Original data is in TAB delimited format in TXT files, one file per station with all date records [2000-2019].

Data format - Blank/NaN = Missing/Not Required Data, Trace amounts in float (usually precipitation amount).
Abbrev. : Term
1. station : Station ID
2. valid : UTC Date Valid
3. tmpf : Air Temperature [F]
4. dwpf : Air Dew Point [F]
5. relh : Relative Humidity [%]
6. drct : Wind Direction (From) [Degrees]
7. sknt : Wind Speed [Knots - nautical mile / hour]
8. alti : Altimeter [inches of mercury]
9. p01m : 1 hour Precipitation (Precipitation measured during the previous hour) [mm]
10. vsby : Visibility [miles]
11. skyc1 : Lowest Cloud Coverage (CLR - Clear (0/8), FEW - Few (1/8), SCT - Scattered (3/8), BKN - Broken (5/8), OVC - Overcast (8/8))
12. skyc2 : Next highest Cloud Coverage
13. skyc3 : Next highest Cloud Coverage
14. skyl1 : Lowest Cloud Height [feet]
15. skyl2 : Associated Cloud Height [feet]
16. skyl3 : Associated Cloud Height [feet]
17. wxcodes : Present Weather Codes (RA = Rain, SHRA = Rain Showers, BR/FG = Mist/Fog. TS = Thunderstorms), (-/+ are qualifiers -RA = Light Rain, +TSRA = Thunderstorms with Heavy Rain)

In [1]:
import pandas as pd

In [2]:
# Column List
name_list = ["Station ID","Date [UTC]","Temp [F]","DP [F]","RH [%]","W Dir [Deg]","W Spd [Kts]","Alt [inHg]","1Hr-Prcp [mm]",
             "Vis [mi]","SKC1","SKC2","SKC3","Cld Hgt1 [Ft]","Cld Hgt2 [Ft]","Cld Hgt3 [Ft]","Prs Wx"]

# Data Type List
dtype_list = {"Station ID":"str","UTC":"str","Temp [F]":"float64","DP [F]":"float64","RH [%]":"float64","W Dir [Deg]":"float64",
              "W Spd [Kts]":"float64","Alt [inHg]":"float64","1Hr-Prcp [mm]":"float64","Vis [mi]":"float64","SKC1":"str",
              "SKC2":"str","SKC3":"str","Cld Hgt1 [Ft]":"float64","Cld Hgt2 [Ft]":"float64","Cld Hgt3 [Ft]":"float64",
              "Prs Wx" : "str"}

# Date Column
parse_date = ["Date [UTC]"]

# Import TxT Data
CLL_data = pd.read_csv('Data/CLL.txt', sep='\t', header=0, names = name_list, dtype = dtype_list, parse_dates = parse_date)
DFW_data = pd.read_csv('Data/DFW.txt', sep='\t', header=0, names = name_list, dtype = dtype_list, parse_dates = parse_date)
AUS_data = pd.read_csv('Data/AUS.txt', sep='\t', header=0, names = name_list, dtype = dtype_list, parse_dates = parse_date)
IAH_data = pd.read_csv('Data/IAH.txt', sep='\t', header=0, names = name_list, dtype = dtype_list, parse_dates = parse_date)

In [3]:
CLL_data
# DFW_data
# AUS_data
# IAH_data

,Station ID,Date [UTC],Temp [F],DP [F],RH [%],W Dir [Deg],W Spd [Kts],Alt [inHg],1Hr-Prcp [mm],Vis [mi],SKC1,SKC2,SKC3,Cld Hgt1 [Ft],Cld Hgt2 [Ft],Cld Hgt3 [Ft],Prs Wx
0,CLL,2000-01-01 00:53:00,48.92,39.02,68.51,0.0,0.0,30.04,NaN,10.0,CLR,,,NaN,NaN,NaN,NaN
1,CLL,2000-01-01 01:53:00,44.96,39.02,79.54,0.0,0.0,30.05,NaN,10.0,CLR,,,NaN,NaN,NaN,NaN
2,CLL,2000-01-01 02:53:00,44.06,39.02,82.31,0.0,0.0,30.05,NaN,10.0,CLR,,,NaN,NaN,NaN,NaN
3,CLL,2000-01-01 03:53:00,44.96,39.02,79.54,0.0,0.0,30.06,NaN,10.0,CLR,,,NaN,NaN,NaN,NaN
4,CLL,2000-01-01 04:53:00,42.98,39.92,88.85,0.0,0.0,30.06,NaN,10.0,CLR,,,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579044,CLL,2019-12-30 23:40:00,NaN,NaN,NaN,340.0,5.0,30.16,NaN,10.0,CLR,NaN,NaN,NaN,NaN,NaN,NaN
579045,CLL,2019-12-30 23:45:00,NaN,NaN,NaN,340.0,5.0,30.16,NaN,10.0,CLR,NaN,NaN,NaN,NaN,NaN,NaN
579046,CLL,2019-12-30 23:50:00,NaN,NaN,NaN,340.0,4.0,30.16,NaN,10.0,CLR,NaN,NaN,NaN,NaN,NaN,NaN
579047,CLL,2019-12-30 23:53:00,54.00,25.00,32.26,340.0,4.0,30.16,0.0,10.0,CLR,NaN,NaN,NaN,NaN,NaN,NaN
579048,CLL,2019-12-30 23:55:00,NaN,NaN,NaN,340.0,4.0,30.16,NaN,10.0,CLR,NaN,NaN,NaN,NaN,NaN,NaN